@model List<MVC_Gimnsaio.Models.Pago>
@{
    ViewData["Title"] = "Lista de Pagos";
}

<h1>@ViewData["Title"]</h1>

<button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Pago")'">Nuevo Pago</button>


<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Miembro:</th>
        <th scope="col">Fecha del pago:</th>
        <th scope="col">Monto:</th>
    </tr>
    </thead>
    
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <th scope="row">@item.idPago</th>
            @foreach (var miembro in ViewBag.Miembros) 
            {

                    @if (item.miembroId == miembro.idMiembro)
                    {

                        <td>@miembro.nombreMiembro @miembro.apellidoMiembro</td>

                    }

            }
            <td>@item.fechaPago</td>
            <td>@item.montoPago</td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <a asp-action="VerDetallePago" asp-route-idPago="@item.idPago" class="btn btn-warning">Ver Pago<i class="bi bi-trash-eye"></i></a>
                    <a asp-action="Delete" asp-route-idPago="@item.idPago" class="btn btn-warning">Reversar pago<i class="bi bi-trash-fill"></i></a>
                </div>

            </td>
        </tr>
    }
    </tbody>
</table>


<p>Esta es la vista de la lista de productos</p>